*{
    margin: 0;
    padding: 0;
    font-family:Arial;
    background-color: rgb(13, 27, 30);
    color: white;
}
h1,h2,h3,h4,h5{
    color: rgb(195, 219, 197);
}

/* header styles */
/* TODO header responsive */
header{
    display: flex;
    justify-content: center;
    font-size: 3vh;
  
}
.header-logo, .header-links{
    display: inline-block; 
    margin-right: 5vh;

}
.header-links li{
    margin-right: 5vh;
   display: inline-block; 
   vertical-align: middle;
}
.header-links a{
   
    font-size: 3vh;
    color: rgb(195, 219, 197);
    text-decoration: none;
    vertical-align: middle;
}
.header-links a:hover{
    color:rgb(150, 171, 156);
}
.header-logo a{

    color: rgb(195, 219, 197);
    text-decoration: none;
    vertical-align: middle;
}
/* body top */




/* Recipes card styles */

.body-logo{
width: 100%; 
display: flex;
align-items: center;
justify-content: center;
margin-top: 3vh;

}

.all-recipes{
margin:5vh 10vh 10vh 5vh;
display: grid;
align-items: start;
grid-template-columns: repeat(4, 1fr);
gap:1.5vh;


}
.recipe-item{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 40vh;
    max-height: 50vh;
    border-radius: 2vh;
    padding:1vh;
    box-shadow: 0.1vh 0.2vh 0.4vh rgb(195, 219, 197); 
}
.recipe-item:hover{
    box-shadow: 0.1vh 0.2vh 0.4vh rgb(195, 219, 197); 
}

.card-top{
    flex: 0 0 auto;
}
.card-bottom{
    flex:1 0 auto;

}

.recipe-photo{
    margin-top: 1vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0.3vh;
}
.card-name{
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    font-size: 2vh;
}
.card-description li{
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    font-size: 1.5vh;
}
.btn-block{
  width: 100%;
  text-align: center;
}
.card-btn{
    display: inline-block;
    font-family: inherit;
    width: 30%;
    font-weight: 400;
    font-size: 1.5vh;
    color: rgb(195, 219, 197);
    border: 0.1vh solid rgb(195, 219, 197);
    padding: 1vh;
    margin: 1.5vh 0 1vh 0;

    transition: 0.5s;
}
.card-btn:hover{
    box-shadow: 0.2vh 0.2vh 0.4vh rgb(195, 219, 197); 
}




/* Media styles */
/* TODO header responsiveness */
@media (max-width: 1250px) {
    .all-recipes{
        grid-template-columns: repeat(3,1fr);
    }
  
}

@media  (max-width: 1030px) {
    .all-recipes{
        grid-template-columns: repeat(2,1fr);
    }
  }

@media (max-width: 440px){
    .all-recipes{
        grid-template-columns: repeat(1,1fr);
    }
}

/* Recipe page styles */


.all-recipe-page-items{
    margin: 1vh 3vh 1vh 3vh;
}
.recipe-page-top{
text-align: center;
}
.recipe-page-top img{
    border-radius: 1vh;
    margin-top: 1vh;
    max-width: 700px;
}
.dish-decription{
    margin-top: 2vh;
}
.dish-ingredients{
margin-top: 2vh;
}
.dish-recipe{
    margin-top: 2vh;
}

/* REGISTER FORM */
.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    width: 35vh;
    padding: 5vh;
    border-radius: 2vh;
    box-shadow: 0 4px 16px rgb(195, 219, 197);
    font-family: inherit;
    letter-spacing: 1px;
}

.form-input,
.form-btn{
    font-family: inherit;
    letter-spacing: 1px;
}
.form-title{
    text-align: center;
    margin: 0 0 4vh 0;
    font-weight: bold;
}
.form-group{
   position: relative;
   margin-bottom: 5vh; 
}
.form-label{
    position: absolute;
    top: 0;
    color:  rgb(195, 219, 197);
    transition: 0.3s;
}
.form-input{
    width: 100%;
    padding: 0 0 1vh 0;
    border-bottom:1px solid rgb(195, 219, 197);
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.form-input:focus{
    border-bottom: 1px solid  rgba(140, 156, 158, 0.281);
}
.form-btn{
    display: block;
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.5vh;
    width: 100%;
    color: rgb(195, 219, 197);
    border: 0.1vh solid rgb(195, 219, 197);
    padding: 1vh;
    margin-top: 1vh;
    transition: 0.5s;
}
.form-btn:hover{
    box-shadow: 0.2vh 0.2vh 0.4vh rgb(195, 219, 197); 
}
.form-change{
    display: flex;
    color: rgb(195, 219, 197);
    position: relative;
    margin-top: 2vh;
    
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown)~.form-label{
    top: -10px;
    font-size: 12px;
    color: rgb(195, 219, 197);
}

/* RECIPE LIST STYLES */

.menu{
    z-index: +1;
    margin-top: 3vh;
    padding: 2vh;
    max-width: 200px;
    height: 100vh;
    top: -35px;
    position: fixed;
   border-right: 3px solid rgb(195, 219, 197);
   left:-215px;
   transition: 0.3s;
}
.menu:hover{
    left: 0;
    transition: all 0.3 ease;
}
.check-form li{
    list-style: none;
}
.check-country,
.check-type,
.check-difficulty{
    margin-top: 1vh;
}
/* RECIPE SEARCHBAR */
.recipe-searchbar{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  
}
.searchbar-input{
    width: 40%;
    padding: 0 0 1vh 0;
    border-bottom:1px solid rgb(195, 219, 197);
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    margin-right: 2vh;
    height: 3vh;
}
.searchbar-btn{
    display: block;
    height: 4vh;
    padding: 1vh;
    text-align: center;
    font-family: inherit;
    font-size: 1.5vh;
    color: rgb(195, 219, 197);
    border: 0.1vh solid rgb(195, 219, 197);
    transition: 0.5s;
}

/*  MY ACCOUNT PANEL */
.main-content-top{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.main-content-top li{
    display: inline-block;
   
    list-style: none;
    margin-right: 2vh;
}
.main-content-top a{
    text-decoration: none;
}


.personal-info{
    display: flex;
    flex-direction: column;
}

/* ADMIN ACC STYLES */

.update-recipe{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.update-form{
  width: 100%;
}